* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.griot {
    margin-left: 4%;
    font-size: 1.5em;
}

.bars {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.nav-link {
    margin: 0 25px;
}

.ftshows {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px 40px rgba(0,0,0,0.75);
    clip-path: inset(0px -50px 0px -50px);
    /* box-shadow: 10px 0 10px 10px black, -10px 0 10px 10px black; */
}

.text_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
}

/* .flex_total {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.datehead {
    width: 80vw;
    background-color: #f7f7f7;
    border: rgb(44,44,44,.1) 1px solid;
    border-radius: 1px;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 30px;
}

.curtains {
    background-image: url(./img/curtains.webp);
    background-position: center top;
    z-index: -1;
    height: 648px;
    width: 100%;
    position: absolute;
    visibility: hidden;
    
}

@media (min-width: 1199px) {
    .curtains {
        height: 558px;
        visibility: visible;
    }
}

@media (min-width: 1399px) {
    .curtains {
        height: 648px;
    }
}

.myrow {
    border-bottom: 1px solid black;
    padding: 0
}

.colpic {
    flex-grow: 1;
    margin-bottom: 4%;
    margin-top: 4%;
}

.showpic {
    width: 100%;
}

.colinfo {
    margin-top: 3%;
    flex-grow: 2;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.colbutton {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raisin {
    font-size: 24px;
    position: relative;
    bottom: 5%;
    font-weight: 300;
}

.date {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1%;
}

.location {
    font-size: 14px;
}

.cost {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5%;
}

.readbutton {
    padding: 10px;
    color: white;
    background-color: #ebb625;
    border: rgb(112,112,112,.5) solid 1px;
    box-shadow: 0;
    position: relative;
    bottom: 5%
}

.feet {
    padding-top: 20px;
    background-color: black;
    padding-bottom: 50px;
}

.map {
    border-radius: 15px;
}

.mapcol {
    margin-right: 25px;
}

.mapicon {
    margin-right: 10px;
    position: relative;
    top: 5px;
    background-image: url(./img/MapPoint.jpg);
    height: 30px;
    width: 30px;
    display: inline-block;
}

.mailicon {
    margin-right: 10px;
    position: relative;
    top: 10px;
    background-image: url(./img/mail-icon.webp);
    height: 30px;
    width: 30px;
    display: inline-block;
}

.phoneicon {
    margin-right: 10px;
    position: relative;
    top: 10px;
    background-image: url(./img/phone-icon.jpg);
    height: 30px;
    width: 30px;
    display: inline-block;
}

.infofoot {
    font-size: 30px;
    font-weight: 400;
    
}